numpy==1.19.5
datasets==1.4.1
transformers==4.3.3
seqeval==1.2.2
torch==1.8.0
nltk==3.5
spacy==3.0.5
datasets==1.4.1
transformers==4.3.3
torch==1.8.0
seqeval==1.2.2
pytorch_lightning==1.2.2
torchtext==0.6.0
tabulate==0.8.9
torchvision==0.9.0
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp36-cp36m-manylinux2014_x86_64.whl
matplotlib==3.3.4
